.header {
  position: relative;

  background-image: url(../Utils/images/bg.jpg);
  background-size: cover;
}

.header::before {
  content: url(../Utils/images/pic\ donuts.png);

  position: absolute;
  top: 0;
  left: 0;
}

.iconsCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
