.layout{
margin-bottom: 16px;

  background-image: url(../../Utils/images/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

@media screen and (min-width:768px) {
   .layout {
    height: 622px;
margin-bottom: 160px;

    background-image: url(../../Utils/images/bg_tablet.png);
    background-size: contain;
  }
}

@media screen and (min-width:1280px) {
    .layout {
/* min-width: 100%; */
    height: 1035px;

    background-image: url(../../Utils/images/bg_desktop.png);
    background-size: contain;
  }
}