@media screen and (min-width: 320px) {
  .layout {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    max-width: 769px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .layout {
min-width: 1280px;

   
     margin-right: auto;
    margin-left: auto;
  }
}
