.form {
  position: relative;

  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  position: absolute;
  z-index: 5px;
  left: 0;
  transform: translateX(50%);

  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.22;
  color: rgba(171, 129, 108, 0.5);
}

.label:nth-child(4) {
  transform: translateY(220%) translateX(15%);;
}


.input {
  width: 280px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.input + .label {
  transition: transform 250ms linear;
}

.input:not(:last-child) {
  margin-bottom: 20px;
}

.input:nth-child(3) {
  margin-bottom: 32px;
}

.input:focus + .label:nth-child(4) {
  transform: translateY(120%) translateX(15%);
  transition: transform 250ms linear;
}

.input:focus + .label:nth-child(2) {
  transform: translateY(-100%) translateX(50%);
  transition: transform 250ms linear;
}

.btn {
  align-self: center;
  margin-bottom: 32px;
  padding-right: 47px;
  padding-left: 47px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 18px;
  font-family: "Caveat";
  line-height: 1.26;
  background-color: var(--regBtn);
  color: #fff;
  border: none;
  border-radius: 25px;
}

@media screen and (min-width: 768px){
  .label:nth-child(4) {
  transform: translateY(220%) translateX(160%);;
}

.input:focus + .label:nth-child(4) {
  transform: translateY(120%) translateX(160%);
}

.label:nth-child(2) {
  transform: translateX(530%);;
}

.input:focus + .label:nth-child(2) {
  transform: translateX(530%) translateY(-100%);
}

.btn{
  margin-bottom: 0;
}
}

@media screen and (min-width: 1280px){
  .label:nth-child(4) {
  transform: translateY(220%) translateX(325%);;
}

.input:focus + .label:nth-child(4) {
  transform: translateY(120%) translateX(325%);
}

.label:nth-child(2) {
  transform: translateX(1090%);;
}

.input:focus + .label:nth-child(2) {
  transform: translateX(1090%) translateY(-100%);
}
.btn{
  margin-bottom: 0;
  padding-right: 67px;
  padding-left: 67px;

  font-size: 24px;
  font-weight: 400;
}
}