.header {
  position: relative;
  padding-top: 8px;

  height: 460px;

  background-image: url(../../Utils/images/pic\ donuts.png),
    url(../../Utils/images/bg.jpg);
  background-repeat: no-repeat;
}

.iconsCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  padding-right: 20px;
}

.textCon {
  width: 224px;
  margin-right: 48px;
  margin-left: 48px;
  margin-bottom: 32px;

  text-align: center;
  color: var(--mainColor);
}

.title {
  margin-bottom: 8px;

  font-size: 30px;
  font-family: "Caveat";
  line-height: 1.26;
}

.text {
  display: block;

  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat";
  line-height: 1.22;
}

@media screen and (min-width: 768px) {
  .header {
    height: 822px;
    padding-top: 0;
    padding-left: 33px;

    background-image: url(../../Utils/images/bg_tablet.png);

    background-repeat: no-repeat;
  }

  .iconsCon {
    position: relative;

    align-items: flex-start;
    justify-content: space-between;
    padding-right: 0;
  }

  .donuts {
    position: absolute;
    top: 0;
    left: 256px;
  }

  .textCon {
    margin: 0;
    margin-bottom: 28px;

    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: relative;

    height: 1035px;

    background-image: url(../../Utils/images/bg_desktop.png);
  }

  .header::after {
    position: absolute;
    top: 0;

    content: url(../../Utils/images/pic\ donuts_desktop.svg);
  }

  .header::before{
position: absolute;
bottom: 0;
left: 0;

transform: translateY(-10%);

    content: url(../../Utils/images/spoon\ 1.png);
  }

  .donutsDesktop {
    width: 793px;
    height: 831px;
  }

  .title {
    width: 490px;
    margin-bottom: 16px;

    font-size: 64px;
    line-height: 1.02;
    font-weight: 400;
  }

  .text {
    margin-bottom: 32px;
    width: 254px;

    font-size: 24px;
  }
}
