.navList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.navItem{
 text-decoration: none;
 font-family: "Montserrat";
 font-weight: 500;
 font-size: 24px;
 line-height: 1.22;
 color: var(--mainColor);
}

.navItem:not(:last-child){
    margin-bottom: 45px;
}

.navItem:hover, .navItem:focus{
    color: #876655;
}

@media screen and (min-width:1280px){
    .navList{
        flex-direction: row;
margin-right: 564px;
padding-top: 58px;

    }

    .navItem:not(:last-child){
    margin-bottom: 0;
    margin-right: 20px;
}

    .navItem{
    

        font-size: 18px;
        font-weight: 400;
    }
}