.footer{
    padding-bottom: 20px;
    background-image: url(../../Utils/images/Wheat\ flour\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.addressCon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
}

.tel{
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
    color: var(--mainColor);
    line-height: 1.22;
}

.tel::before{
    content: url(../../Utils/images/Group.png);
    margin-right: 4px;
}

.address{
    text-decoration: none;

    font-family: "Montserrat";
    font-style: normal;
    font-size: 16px;
    color: var(--mainColor);
    line-height: 1.22;
}

.address::before{
    content: url(../../Utils/images/location.png);
    margin-right: 4px;

}

@media screen and (min-width:768px){
    .footer{
        background-image: url(../../Utils/images/Wheat\ flour\ 2.png);
    }

    .addressCon{
        margin-top: 60px;
        padding-left: 20%;
        padding-right: 20%;
        justify-content: space-between;
    }
}

@media screen and (min-width:1280px){
    .footer{
        background-image: url(../../Utils/images/Wheat\ flour\ 1_desktop.png);
    }

    .addressCon{
        margin-top: 80px;
        padding-left: 128px;
        padding-right: 321px;
    }
}