.App {
max-width: 100%;

  text-align: center;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./Utils/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Caveat";
  src: local("Caveat"),
    url(./Utils/fonts/Caveat_Brush/CaveatBrush-Regular.ttf)
      format("truetype");
}
